.card{
    width:100%;
    position: relative;
}

.cardBackground{
    color:#cccccc;
    position: absolute;
    top: 22%;
    right:23.5%;
}
.circuitIndeterminate{
    font-size: 200%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -10%);
}

.title{
    font-size: 200%;
    background:linear-gradient(transparent 90%, #1a90ff 0%);
}